# CSC110 Fall 2020: Python libraries we'll be using this project.

# Testing and code checking
pytest
doctest
python-ta

# Graphics and data visualization
matplotlib

# Data analysis 
pandas
numpy
scipy
os
csv
sqlite3


 
